services:

  api-gateway:
    build: 
      context: ./backend/api-gateway
    container_name: api-gateway
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - crear-service
      - consultar-service
      - modificar-service
      - borrar-service
      - log-service
    restart: unless-stopped
    networks:
      - backend-network
      - frontend-network 

  
  auth-service:
    build:
      context: ./backend/auth-service
    container_name: auth-service
    env_file:
      - .env
    ports:
      - "8001:8001"
    restart: unless-stopped
    networks:
      - backend-network


  log-service:
    build:
      context: ./backend/log-service
    container_name: log-service
    env_file:
      - .env
    ports:
      - "8006:8006"
    restart: unless-stopped
    networks:
      - backend-network

  crear-service:
    build:
      context: ./backend/person-service
      dockerfile: crear_service/Dockerfile
    container_name: crear-service
    env_file:
      - .env
    ports:
      - "8002:8002"
    restart: unless-stopped
    networks:
      - backend-network

  consultar-service:
    build:
      context: ./backend/person-service
      dockerfile: consultar_service/Dockerfile
    container_name: consultar-service
    env_file:
      - .env
    ports:
      - "8003:8003"
    restart: unless-stopped
    networks:
      - backend-network

  modificar-service:
    build:
      context: ./backend/person-service
      dockerfile: modificar_service/Dockerfile
    container_name: modificar-service
    env_file:
      - .env
    ports:
      - "8004:8004"
    restart: unless-stopped
    networks:
      - backend-network

  borrar-service:
    build:
      context: ./backend/person-service
      dockerfile: borrar_service/Dockerfile
    container_name: borrar-service
    env_file:
      - .env
    ports:
      - "8005:8005"
    restart: unless-stopped
    networks:
      - backend-network

  consulta-natural-service:
    build:
      context: ./backend/rag-service
    container_name:  consulta-natural-service
    env_file:
      - .env
    ports:
      - "8007:8007"
    restart: unless-stopped
    networks:
      - backend-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      - API_URL=http://api-gateway:8000  # Usar directamente la URL sin referencia
    env_file:
      - .env
    container_name: gestion-personas-frontend
    ports:
      - "80:80"
    depends_on:
      - api-gateway
    restart: unless-stopped
    networks:
      - frontend-network


networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge
