
services:

  api-gateway:
    build: 
      context: ./api-gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - auth-service
      - crear-service
      - consultar-service
      - modificar-service
      - borrar-service
      - log-service
    restart: unless-stopped
    networks:
      - backend-network

  auth-service:
    build:
      context: /auth-service
    container_name: auth-service
    ports:
      - "8001:8001"
    restart: unless-stopped
    networks:
      - backend-network


  log-service:
    build:
      context: ./log-service
    container_name: log-service
    ports:
      - "8006:8006"
    restart: unless-stopped
    networks:
      - backend-network

  crear-service:
    build:
      context: ./person-service
      dockerfile: crear_service/Dockerfile
    container_name: crear-service
    ports:
      - "8002:8002"
    restart: unless-stopped
    networks:
      - backend-network

  consultar-service:
    build:
      context: ./person-service
      dockerfile: consultar_service/Dockerfile
    container_name: consultar-service
    ports:
      - "8003:8003"
    restart: unless-stopped
    networks:
      - backend-network

  modificar-service:
    build:
      context: ./person-service
      dockerfile: modificar_service/Dockerfile
    container_name: modificar-service
    ports:
      - "8004:8004"
    restart: unless-stopped
    networks:
      - backend-network

  borrar-service:
    build:
      context: ./person-service
      dockerfile: borrar_service/Dockerfile
    container_name: borrar-service
    ports:
      - "8005:8005"
    restart: unless-stopped
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge